.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
}
.child{
    height: 50px;
    width: 80px;
    border: 3px solid white;
    background-color: white;
    text-decoration: none;
    border-radius: 45%;
    line-height: 50px;
    text-align: center;
}
.logo{
    margin-left: 10px;
}
.child1{
    margin-left: 320px;
}
.child3{
    margin-right: 10px;
}
.page-title{
    width: 100%;
    margin-top: 5px;
}
.scroll{
    overflow-x: auto;
    overflow-y: hidden;
    height:600px;
    white-space: nowrap;
}
/* ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  } */

.footer{
    height: 50px;
    width: 100%;
    background-color: lightblue;
}