/* mainpage */
.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
}
.child{
    height: 50px;
    width: 80px;
    text-decoration: none;
    border-radius: 45%;
    line-height: 50px;
    text-align: center;
}
.logo{
    margin-left: 10px;
}
.child1{
    margin-left: 320px;
}
.child3{
    margin-right: 10px;
}
.page-title{
    width: 100%;
}
li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
@keyframes move{
    0%,30%{
        transform: translate(0px);
    }
    35%,65%{
        transform: translate(-900px);
    }
    70%,100%{
        transform: translate(-1800px);
    }
}
.scroll{
    width: 100%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    background-color: #DAF0F8;
}
ul{
    width: 500%;
    display: flex;
    animation: move 10s infinite;
}
li img{
    width: 100%;
    height: 500px;
}

.footer{
    height: 50px;
    width: 100%;
    background-color: lightblue;
}

/* sidepage1 */

.container1{
    width: 100%;
    height: 400px;
    background-color: #FFF0E0;
}

/* sidepage2 */
.container2{
    padding: 10px;
    margin-top: 25px;
    background-color: #DAF0F8;
    width: 100%;
    height: 400px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.character img{
    transition-duration:1s;
    transition-timing-function:linear;
    transition-delay: 0.5s;
    position: relative;
}
.character img:hover{
    height: 400px;
    opacity: 25%;
}
.word1{
    position: absolute;
    top: 150px;
    left: 30px;
    color: transparent;
}
.word2{
    position: absolute;
    top: 150px;
    left: 200px;
    color: transparent;
}
.word3{
    position: absolute;
    top: 150px;
    left: 380px;
    color: transparent;
}
.word4{
    position: absolute;
    top: 150px;
    left: 580px;
    color: transparent;
}

/* sidepage3 */
.container3{
    padding: 10px;
    margin-top: 25px;
    background-color: #DEE3F9;
    width: 100%;
    height: 400px;
    display: flex;
    gap: 20px;
}
.result h4{
    margin-top: 0px;
}
.barborder{
    margin-top: 10px;
    width: 500px;
    height: 300px;
    border: 1px black solid;
    border-top: transparent;
    border-right: transparent;
}
.bar{
    height: 50px;
    text-align: center;
    margin-top: 30px;
}
.bar p{
    padding: 13.5px;
}
.bar1{
    width: 300px;
    background-color: #FFE19A
}
.bar2{
    width: 400px;
    background-color: #FFD777;
}
.bar3{
    width: 200px;
    background-color: #FFF0E0;
}
.bar4{
    width: 250px;
    background-color: #FFF6E0;
}